body {
  }


.header-hero {
    min-height: calc(100vh - 56px);
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./Images/burger.jpg') center/cover no-repeat;
    color: beige;
    font-family: "Raleway", "fantasy"!important;
    letter-spacing: 0.2em;
}

